{% load static %}
{% load lang_tags %}

<header class="site-header">

    <div class="prehead">
        <div class="prehead-container">

            <span class="prehead-text">
                {% tr "Cистема поддержки AqylNet" %}
            </span>

            <div class="prehead-lang">
                <a href="/kk{{ current_path_without_lang }}" class="{% if current_lang_code == 'kk' %}active{% endif %}">KK</a>
                <a href="/ru{{ current_path_without_lang }}" class="{% if current_lang_code == 'ru' %}active{% endif %}">RU</a>
                <a href="/en{{ current_path_without_lang }}" class="{% if current_lang_code == 'en' %}active{% endif %}">EN</a>
            </div>

        </div>
    </div>

<nav class="navbar">
    <div class="navbar-container">

        <a href="/" class="navbar-brand">
            <img src="{% static 'favicons/fav.png' %}" alt="AqylNet">
            <span>AqylNet</span>
        </a>

        <!-- Desktop links -->
        <div class="navbar-actions">
            <a href="/support/" class="nav-link">{% tr "Обратиться в поддержку" %}</a>
            <a href="/support/check/" class="nav-link">{% tr "Проверить статус обращения" %}</a>
            <a href="https://t.me/aqylnet_bot" target="_blank" class="nav-link">
                {% tr "Бот поддержки" %}
            </a>
        </div>

        <!-- Mobile burger -->
        <button class="burger" id="burgerBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>

    <!-- Mobile menu -->
    <div class="mobile-menu" id="mobileMenu">
        <a href="/support/">{% tr "Обратиться в поддержку" %}</a>
        <a href="/ticket/check/">{% tr "Проверить статус обращения" %}</a>
            <a href="https://t.me/aqylnet_bot" target="_blank">
                {% tr "Бот поддержки" %}
            </a>
    </div>

</nav>

<script>
document.getElementById("burgerBtn").addEventListener("click", () => {
    document.getElementById("mobileMenu").classList.toggle("open");
});
</script>


</header>
