{% load static %}
{% load lang_tags %}

<aside class="sidebar">
    <div class="sidebar-brand">
        <img src="{% static 'favicons/fav.png' %}" alt="AqylNet">
    </div>

    <nav class="sidebar-nav">
        <ul>

            <li class="{% if slug_nav == 'dashboard' %}nav-active{% endif %}">
                <a href="/admin/dashboard/" title="{% tr 'Панель управления' %}">
                    <i class="fa fa-dashboard"></i>
                </a>
            </li>

            <li>
                <a href="/" title="{% tr 'Вернуться на сайт' %}">
                    <i class="fa fa-home"></i>
                </a>
            </li>

        </ul>
    </nav>
</aside>
